@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-white rounded shadow-lg w-100 mt-10 pt-5 px-5">
    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <img class="img-responsive ml-5"
                 src="~/imgs/javascript.png"
                 height="50"
                 width="100" />
        </div>
        <div class="col-8 mt-1">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">A</span>
                </div>
                <input type="text"
                       class="form-control bg-danger"
                       placeholder="Type"
                       id="jsPalindromeInput"
                       aria-label="JsPalindromeInput"
                       aria-describedby="basic-addon1" />
            </div>
        </div>
        <div class="col-2 mt-1">
            <button type="button"
                    id="jsButton"
                    class="text-success btn btn-light border border-dark">
                GO
            </button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <img class="img-responsive ml-5"
                 src="~/imgs/sql.png"
                 height="50"
                 width="100" />
        </div>
        <div class="col-8 mt-1">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">B</span>
                </div>
                <input type="text"
                       class="form-control bg-danger"
                       placeholder="Type"
                       id="sqlPalindromeInput"
                       aria-label="sqlPalindromeInput"
                       aria-describedby="basic-addon2" />
            </div>
        </div>
        <div class="col-2 mt-1">
            <button type="button"
                    id="sqlButton"
                    class="text-success btn btn-light border border-dark">
                GO
            </button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <img class="img-responsive ml-5"
                 src="~/imgs/csharp.png"
                 height="50"
                 width="100" />
        </div>
        <div class="col-8 mt-1">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">C</span>
                </div>
                <input type="text"
                       class="form-control bg-danger"
                       placeholder="Type"
                       id="dotnetPalindromeInput"
                       aria-label="dotnetPalindromeInput"
                       aria-describedby="basic-addon3" />
            </div>
        </div>
        <div class="col-2 mt-1">
            <button type="button"
                    id="dotnetButton"
                    class="text-success btn btn-light border border-dark">
                GO
            </button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6 col-offset-3 text-center">
            <img src="~/imgs/vtuk-logo.png" height="120" width="200" />
        </div>
    </div>
</div>